@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-hex: #F8F8F8;
  --color-text: #73ACA0;
  --color-header: text-black;
  --color-nav: #73ACA0;
  --color-p: #7F888E;
  --font: 'Montserrat', sans-serif;
}

body {
  background-color: var(--foreground-hex);
  font-family: var(--font);
}

h1, h2{
  color: var(--color-header);
}

/* Hero Section*/

.spacer{
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  z-index: 2;
}
.hero-bg{
  background-image: url("/images/wave-haikei.svg");
}


#menu-toggle:checked + label + div {
  display: flex;
}

/* Burger Animation */
#menu-toggle:checked + label span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
#menu-toggle:checked + label span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + label span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
label span {
  will-change: transform;
}

.text-nav {
  display: inline-block;
  cursor: pointer;

  @apply text-gray hover:text-tiffany hover:no-underline;

}

.text-nav-menu{
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0rem;
  @apply text-black hover:text-white hover:no-underline;
}

/* About Section */
aboutme-text{
  @apply text-sm;
}

a {
  @apply text-cambridge hover:underline;
}

p {
  @apply text-gray;
}